<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (submit)="onSubmit()">

    <ion-item lines="full">
      <ion-label position="floating">DNI</ion-label>
      <ion-input type="text" formControlName="dni" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" formControlName="apellido" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" formControlName="nombre" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Repita Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="!registerForm.valid" color="danger" expand="block">Registrarme</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>