<ion-app>
  <ion-menu *ngIf="this.authService.isLoggedIn()"  contextmenu="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="../assets/images/avatar.png" />
        <ion-label>
          <h2>Martín Francisconi</h2>
          <p>Programador</p>
        </ion-label>
      </div>
      <div class="action-button">
        <ion-button>
          <ion-icon slot="start" name="add"></ion-icon> Agregar
        </ion-button>
      </div>
      <ion-list class="menu-items" lines="none">
        <ion-item>
          <ion-icon name="pie-chart-outline"></ion-icon> Perfil
        </ion-item>
        <ion-item> <ion-icon name="flash"></ion-icon> Datos </ion-item>
        <ion-item >
          <ion-icon name="exit-outline"></ion-icon><button (click)="logout()">Cerrar Sesión</button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
