@font-face {
    font-family: Lato;
    src: url("../assets/fonts/Lato/Lato-Bold.ttf");
  }
  
  * {
    font-family: "Lato", sans-serif;  
  }
  
  .menu-header-bg {
    height: 180px;
    width: 350px;
    background-color: #7590d6;
    background: linear-gradient(90deg, #7590d6 0%, #4d71d7 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
  }
  
  .header-content {
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
  
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 7px solid #5e7ccc;
    }
  
    h2 {
      font-weight: 300;
    }
  
    p {
      font-size: 12px;
      color: #e4e4e4;
      font-weight: 100;
      letter-spacing: 0.4px;
    }
  }
  
  .action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    ion-button {
      text-transform: capitalize;
      font-weight: 300;
      --background: #628cff;
      --border-radius: 7px;
      --box-shadow: none;
    }
  
    ion-icon {
      margin-right: 1px;
    }
  }
  
  .menu-items {
    margin: 0px;
  
    ion-icon {
      margin-right: 10px;
      color: #86979f;
    }
  
    ion-item {
      padding-left: 20px;
      margin-bottom: 10px;    
    }
  }

  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-header, ion-footer{
    --ion-background-color: #3A5795;
  }
  
  ion-content{
    --ion-background-color: #ffffff;
  }
  
  ion-img.logo {
    width: 40%;
  }
  
  
  