<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> </ion-title>
    <ion-buttons>
      <ion-menu-button
        menu="main-menu"        
      ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Expand -->
  <ion-button expand="full">
    <ion-icon name="home"></ion-icon> Inmueble
  </ion-button>
  <ion-button expand="full">
    <ion-icon name="pricetags"></ion-icon> Comercio
  </ion-button>

  <!-- fab placed in the center of the content with a list on each side -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button
        ><ion-icon name="logo-instagram"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" offset="4">
          <ion-img src="../assets/images/logo-muni-white.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
